/* Default (Light Mode) */
:root {
  --main-color: #EF9B28;
  --default-color: #4F4F4F;
  --second-color: #fff;
  --ternary-black-color: #0E382F;
  --danger-color: #ac0000;
  --bg-gray-color: #f0eeee;
  --bg-main-color: #EF9B28;
  --bg-second-color: #fff;
  --bg-ternary-color: rgba(49, 89, 81, 0.9);
  --bg-sidebar-color: #0E382F;
  --bg-danger-color: #ac0000;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 15%);
}

/* Dark Mode */
.dark-theme {
  --main-color: #FF9F43;
  --default-color: #B0B0B0;
  --second-color: #E0E0E0;
  --ternary-black-color: #314a59;
  --bg-main-color: #1E2A38;
  --bg-second-color: #2C2C2C;
  --bg-ternary-color: #1C2A36;
  --bg-sidebar-color: #121212;
}


.main-color {
  color: var(--main-color) !important;
}

.default-color {
  color: var(--default-color) !important;
}

.second-color {
  color: var(--second-color) !important;
}

.ternary-black-color {
  color: var(--ternary-black-color) !important;
}

.dangerColor {
  color: var(--danger-color) !important;
}

.bg-main-color {
  background-color: var(--bg-main-color) !important;
}

.bg-second-color {
  background-color: var(--bg-second-color) !important;
}

.bg-ternary-color {
  background-color: var(--bg-ternary-color) !important;
}

.bg-sidebar-color {
  background-color: var(--bg-sidebar-color) !important;
}

.bg-gray-color {
  background-color: var(--bg-gray-color) !important;
}

.bg-danger-color {
  background-color: var(--bg-danger-color) !important;
}

.box-shadow {
  box-shadow: var(--box-shadow) !important;
}