<section class="auth-section overflow-y-auto shadow-sm">
    <div class="container h-100">
        <div class="row align-items-center">
            <div class="col-md-6 mx-auto">
                <div class="text-center my-2">
                    <img src="../../../../assets/images/auth-logo.svg">
                </div>
                <div class="form-container p-4 rounded-3">
                    <small class="text-white-50 fs-6 my-1">Welcome to PMS!</small>
                    <h6 class="fw-bold my-1 fs-4"><span class="text-decoration-underline">L</span>ogin</h6>
                    <form class="" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                        <div class="py-2">
                            <div>
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label class="text-white">Enter your email</mat-label>
                                    <input matInput class="text-white" placeholder="E-mail" formControlName="email"
                                        required>
                                    <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                                        {{getEmailErrorMessage()}}
                                    </mat-error>
                                    <mat-icon matSuffix class="text-white-50">email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="w-100">
                                    <mat-label class="text-white">Enter your password</mat-label>
                                    <input matInput class="text-white" [type]="hide ? 'password' : 'text'"
                                        formControlName="password">
                                    <button class="text-white-50" type="button" mat-icon-button matSuffix
                                        (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="loginForm.get('password')?.touched">
                                        {{getPasswordErrorMessage()}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
                            <a class="text-decoration-none text-white" routerLink="/auth/register">Register
                                Now?</a>
                            <a class="text-decoration-none text-white" routerLink="/auth/forgetPassword">Forgot
                                Password?</a>
                        </div>
                        <div class="my-2 mx-3">
                            <button class="w-100 btn submitButton"
                                [ngClass]="loginForm.status==='VALID'?'text-white':''"
                                [disabled]="loginForm.status==='INVALID'?true:false">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>