<div class="table-responsive overflow-x-auto">
  <table class="table table-striped m-0">
    <thead>
      <tr>
        <th *ngFor="let head of headList">
          {{ head.headName }}
          <span *ngIf="head.keyName !== 'actions'">
            <a (click)="sortData(head.keyName, 'asc')">
              <mat-icon matSuffix class="main-color pointer">arrow_drop_up</mat-icon>
            </a>
            <a (click)="sortData(head.keyName, 'desc')">
              <mat-icon matSuffix class="main-color pointer">arrow_drop_down</mat-icon>
            </a>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridData">
        <td *ngFor="let head of headList">
          <ng-container *ngIf="head.keyName !== 'actions'">
            <ng-container *ngIf="head.keyName === 'imagePath'; else normalText">
              <img
                class="w-50"
                height="50px"
                [src]="'https://upskilling-egypt.com:3003/' + item[head.keyName]"
                alt="img"
              />
            </ng-container>
            
            <ng-template #normalText>
              <ng-container *ngIf="head.keyName.includes('Date'); else textData">
                {{ item[head.keyName] | date : "dd/MM/yyyy" }}
              </ng-container>

              <ng-template #textData>
                {{ getNestedProperty(item, head.keyName) }}
              </ng-template>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="head.keyName === 'actions'">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngFor="let action of head.actionsData"
                (click)="handleAction(action.key, item)"
              >
                <mat-icon class="main-color">{{ action.icon }}</mat-icon>
                <span class="main-color">{{ action.key | titlecase }}</span>
              </button>
            </mat-menu>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="gridData.length === 0" class="text-center py-3">
  <img src="../../../../../assets/images/no-data.png" alt="no-data" />
</div>
