<section class="shadow  bg-white ">
    <div class="row">
        <div class="col-md-3 ">
            <img src="../../../assets/images/WhatsApp Image 2024-08-20 at 10.48.37 PM.jpeg" class="sora1 position-absolute ">
                </div>
                <div class="col-4  ms-auto"> 
                    <div class="avatar d-flex  align-items-center  justify-content-center">
                        <mat-icon style="color: orange;">notifications</mat-icon>|

                        <img src="../../../assets/images/person.jpeg" class="p-2 rounded-circle m-0  position-relative top-0 sora">
                            
                        <div class="text">
                            <h3 class="h3">
                                {{Username}}
                                <p class="h6 text-muted">{{useremail}}</p>
                            </h3>
                           
                        </div>
                       
                    </div>
                </div>
    </div>


</section>
