<section class="bg-second-color">
  <div class="d-flex justify-content-between">
    <div class="">
      <img
        src="../../../assets/images/logoBoard.svg"
        class="sora1"
      />
    </div>
    <div class="avatar d-flex align-items-center justify-content-center">
      <mat-icon style="color: orange">notifications</mat-icon>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="bg-transparent">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        
      
        <button mat-menu-item  (click)="openchangDialog()" >
            <mat-icon>lock</mat-icon>
            <span>change password</span>
          </button>
      </mat-menu>

      <ngx-dropzone (change)="onSelect($event)" class=" w-25 h-50  mx-2 border-0 ">
        <ngx-dropzone-label class="main-color ">
          <mat-icon matSuffix>photo_camera</mat-icon>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
        >
          <ngx-dropzone-label> </ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
      <div>
        <h6 class="mb-0">{{ Username }}</h6>
        <p class="email-text mb-0">{{ useremail }}</p>
      </div>
    </div>
  </div>
</section>
