section {
    min-height: 100vh;
}

.sec1 {
    background-image: url('../../../../assets/images/project-bg.jpeg');
    background-size: cover;
    background-position: center center;
    height: 50vh;
}

span {
    color: orange;
}

.titel {
    border-left: orange 5px solid;
}

.first {
    background: #E5E6F4;

    .icon1 {
        background: #CFD1EC;

    }

}

.second {
    background: #F4F4E5;

    .icon2 {
        background: #E4E4BC;

    }

}

.third {
    background: #F4E5ED;

    .icon {
        background: #E7C3D7;
        ;

    }
}