<section>
    <div class="container">
        <div class="row">
            <div class=" mx-auto">
                <div class="auth-card p-5 m-3">
                   
                    
 <div  >
    <form  [formGroup]="changeform">
         <div class="form" >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><mat-icon>lock</mat-icon></span>
            <input formControlName="oldPassword" type="password" class="form-control " placeholder="oldPassword" aria-label="Username" aria-describedby="basic-addon1">
           </div>
           <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><mat-icon>lock</mat-icon></span>
            <input formControlName="newPassword" type="password" class="form-control" placeholder="newPassword" aria-label="Username" aria-describedby="basic-addon1">
           </div>
           <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><mat-icon>lock</mat-icon></span>
            <input formControlName="confirmNewPassword" type="password" class="form-control" placeholder="confirmNewPassword" aria-label="Username" aria-describedby="basic-addon1">
           </div>
<!--          -->
         </div>
 </form>
       </div></div>
            </div>
        </div>
        <div mat-dialog-actions class="d-flex justify-content-between">
            <button mat-button (click)="onNoClick()" class="rounded  bg-main-color border-0 p-1">No Thanks</button>
            <button mat-button [mat-dialog-close]="changeform.value" cdkFocusInitial class="  rounded  bg-main-color  border-0 p-1 ">changepassword</button> 
           <!-- !!!مهممم دا الي هيتبعت بعد ما اقفل data -->
         
        </div>
    </div>
</section>

