<section >
    <div class="container">
      
        <form  [formGroup]="changeform">
          <div class="form m-3" >
     
            <mat-form-field class="w-75 mx-5 " hideRequiredMarker>
             <mat-label> old Password</mat-label>
             <input
               matInput
               class="text-white"
               [type]="isHideConfirm ? 'password' : 'text'"
               formControlName="oldPassword" 
               placeholder=" old password"
             />
             <button
               class="text-white-50"
               type="button"
               mat-icon-button
               matSuffix
               (click)="isHideConfirm = !isHideConfirm"
             >
               <mat-icon>{{
                 isHideConfirm ? "visibility_off" : "visibility"
               }}</mat-icon>
             </button>
            
           </mat-form-field>
            <mat-form-field class="w-75 mx-5" hideRequiredMarker>
             <mat-label>Password</mat-label>
             <input
               matInput
               class="text-white"
               [type]="isHideConfirm ? 'password' : 'text'"
               formControlName="newPassword" 
               placeholder=" new password"
             />
             <button
               class="text-white-50"
               type="button"
               mat-icon-button
               matSuffix
               (click)="isHideConfirm = !isHideConfirm"
             >
               <mat-icon>{{
                 isHideConfirm ? "visibility_off" : "visibility"
               }}</mat-icon>
             </button>
            
           </mat-form-field>
            <mat-form-field class="w-75 mx-5" hideRequiredMarker>
             <mat-label>Confirm Password</mat-label>
             <input
               matInput
               class="text-white"
               [type]="isHideConfirm ? 'password' : 'text'"
               formControlName="confirmNewPassword" 
               placeholder="Confirm new password"
             />
             <button
               class="text-white-50"
               type="button"
               mat-icon-button
               matSuffix
               (click)="isHideConfirm = !isHideConfirm"
             >
               <mat-icon>{{
                 isHideConfirm ? "visibility_off" : "visibility"
               }}</mat-icon>
             </button>
            
           </mat-form-field>
         
          </div>
  </form>
      

 <div mat-dialog-actions class="d-flex justify-content-between ">
  <button mat-button (click)="onNoClick()" class="rounded  bg-main-color border-0 p-1">No Thanks</button>
  <button mat-button [mat-dialog-close]="changeform.value" cdkFocusInitial class="  rounded  bg-main-color  border-0 p-1 ">changepassword</button> 
  <!-- !!!مهممم دا الي هيتبعت بعد ما اقفل data --> 

 </div>
       </div>
          
       
       
 
</section> 

