section{
    background-image: url('../../.././../assets/images/cff00b39-8004-4ce6-bdcb-0c87abce67e3.jfif');
background-size: cover;
background-size: 100% 100%;
}
.logo-img {
    max-width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.auth-card {
    
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px; /* Adjust width */
    max-height: 450px; /* Adjust height */
}
