
<section class="auth bg-reset d-flex align-items-center justify-content-center ">
    <div class="container">
      <div class="d-flex justify-content-center my-2">
        <img src="../../../../assets/images/logo.png"  class="logo-img" >
      </div>
    
      <div class="row justify-content-center align-items-center  m-0 w-100 ">
        <div class="col-md-6">
            <div class="auth-card d-flex flex-column">
                <p class="text-white-50 m-0 ">Welcome to PMS</p>
                <h3 class="main-color title-auth">Reset Password</h3>
                <form [formGroup]="resetform" (ngSubmit)="onReset()" class="flex-grow-1 d-flex flex-column justify-content-between">
                    <div class="mx-auto">
                        <mat-form-field appearance="fill" class="w-100 mb-2" hideRequiredMarker>
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your email" formControlName="email" required >
                        </mat-form-field>
    
                        <mat-form-field appearance="fill" class="w-100 mb-2" hideRequiredMarker>
                            <mat-label>OTP Verification</mat-label>
                            <input matInput placeholder="Enter verification code" formControlName="seed" required>
                        </mat-form-field>
    
                        <mat-form-field appearance="fill" class="w-100 mb-2" hideRequiredMarker>
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="Enter new password" formControlName="password" type="password" required>
                        </mat-form-field>
    
                        <mat-form-field appearance="fill" class="w-100 mb-2" hideRequiredMarker>
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm new password" formControlName="confirmPassword" type="password" required>
                        </mat-form-field>
                    </div>
    
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="w-50 bg-main-color btn-main second-color">Verify</button>
                    </div>
                    <a
                    class="text-center second-color span-text mt-1 pointer"
                    routerLink="/auth/login"
                    >Back to login</a
                  >
                </form>
            </div>
        </div>
    </div>
    
    </div>
  </section>