@import 'pages/auth';
@import 'pages/colors';
@import 'pages/inputs';
@import 'pages/buttons';
@import 'pages/table';
@import 'pages/fonts';
@import 'pages/ngx-drop';

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    text-decoration: underline !important;
  }
}